@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8394b3;
}

.wrapper{
    user-select: none;
}

.wrapper .time{
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 0 10px;
}

.wrapper .time span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #333;
}

.time span.colon{
    width: 10px;
}

.time span.ms-colon,
.time span.milliseconds{
    color:rgba(4, 26, 166, 0.783)
}

.wrapper .buttons{
    text-align: center;
    margin-top: 20px;
}

.buttons button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #333;
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.buttons button.active,
.buttons button.stopActive{
    cursor: not-allowed;
    opacity: 0.3;
}

.marcas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#selectMarcas{
    width: 400px;
}

select {
    width: 100%;
    max-width:90%;
    background:#2f3958;
    font: 18pt Poppins;
    color: white;
    text-align: center;
    border: none;
    overflow: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
